<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.hw22thteamproject.statistics.query.mapper.StatisticsMapper">
    <resultMap id="ingredientStockMap" type="com.ohgiraffers.hw22thteamproject.statistics.query.dto.response.MonthlyPurchaseDTO">
        <result property="name" column="ingredient_stock_name"/>
        <result property="category" column="ingredient_stock_category"/>
        <result property="quantity" column="quantity_unit"/>
        <result property="cost" column="ingredient_stock_total_cost"/>
        <result property="purchaseDate" column="ingredient_stock_bought_at"/>
    </resultMap>
    <select id="findMonthlyPurchaseDetails" parameterType="map" resultMap="ingredientStockMap">
        SELECT
        ingredient_stock_name,
        ingredient_stock_total_cost,
        ingredient_stock_bought_at,
        ingredient_stock_category,
        CONCAT(ingredient_stock_total_quantity, ingredient_stock_unit) AS quantity_unit
        FROM ingredient_stock
        WHERE user_no = #{userNo}
        AND DATE_FORMAT(ingredient_stock_bought_at, '%Y-%m') = #{yearMonth}
        ORDER BY ingredient_stock_bought_at DESC
    </select>

</mapper>